@import url("https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Beiruti", sans-serif;
  background-color: #333;
  color: white;
}
.img{
  width: 400px;
  height: 300px;
}
span{
  color: palevioletred;
  font-style: italic;
}
.input{
  border: none;
   outline: none;
}
.input:focus{
  border: none;
  outline: 1px solid white;
  box-shadow: none;
}
.input::placeholder{
 color: aliceblue;
}

