.hero{
    margin: 0px 50px;
    margin-top: 130px;
}

.heroText{
    color : #fff;
    font-size: 90px;
    font-weight: 500px;
    line-height: 110px;
}
.heroExplore{
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: 25px;
    background-color: #fff;
    gap: 50px;
    padding: 5px 9px;
    padding-left: 20px;
    border-radius: 60px;
    cursor: pointer;
}

.heroExplore p{
    color:#292929 ;
    font-size: 20px;
    font-weight: 500px;
}
.heroDotPlay{
   margin-top: 80px;
   margin-bottom: 50px;
}
.heroDotContainer{
    display: flex;
  gap: 10px;  
  padding: 0;
  margin: 0;
}
.heroDots {
    width: 12px;       
    height: 12px;     
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    list-style-type: none;
}
 .orange{
background-color: orangered;
}

